{% extends '../index.html' %}
{% block title %}{{ customer.firstName | title }} {{ customer.lastName| title}} Profile{% endblock %}
{% block content %}


  <section class="content-section p-3 p-lg-5 d-flex flex-column" id="vehicles">
        <div class="row pt-4">
                <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item">{{ customer.firstName | title }} {{ customer.lastName| title}}</li>
                        </ol>
                      </nav>
          </div>
    <div class="row">
            <div class="container">
                    <div class="row">
                          <div class="col-sm-10"><h4>{{ customer.userName }}</h4></div>
                    </div>
                    <div class="row">
                          <div class="col-sm-3"><!--left col-->
                              
                          
                          <ul class="list-group pt-5">
                            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Last Login</strong></span> {{ customer.lastLogin}}</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Member Since</strong></span> {{ customer.dateJoined}}</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Total Orders</strong></span> 37</li>
                          </ul> 
                               
                         
                          
                        </div><!--/col-3-->
                        <div class="col-sm-9">
                                <ul class="nav nav-tabs">
                                        <li class="active"><a href="#orders">Home</a></li>
                                        <li><a href="#profile">Menu 1</a></li>
                                        <li><a href="#">Menu 2</a></li>
                                        <li><a href="#">Menu 3</a></li>
                                      </ul>
                
                              
                          <div class="tab-content">
                            <div class="tab-pane active" id="orders">
                                <hr>
                                  <form class="form" action="##" method="post" id="registrationForm">
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="first_name"><h4>First name</h4></label>
                                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                            <label for="last_name"><h4>Last name</h4></label>
                                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                          </div>
                                      </div>
                          
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="phone"><h4>Phone</h4></label>
                                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                          </div>
                                      </div>
                          
                                      <div class="form-group">
                                          <div class="col-xs-6">
                                             <label for="mobile"><h4>Mobile</h4></label>
                                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="email"><h4>Email</h4></label>
                                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="email"><h4>Location</h4></label>
                                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="password"><h4>Password</h4></label>
                                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                            <label for="password2"><h4>Verify</h4></label>
                                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                           <div class="col-xs-12">
                                                <br>
                                                  <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                   <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                            </div>
                                      </div>
                                  </form>
                              
                              <hr>
                              
                             </div><!--/tab-pane-->
                             <div class="tab-pane" id="profile">
                               
                               <h2></h2>
                               
                               <hr>
                                  <form class="form" action="##" method="post" id="registrationForm">
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="first_name"><h4>First name</h4></label>
                                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                            <label for="last_name"><h4>Last name</h4></label>
                                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                          </div>
                                      </div>
                          
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="phone"><h4>Phone</h4></label>
                                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                          </div>
                                      </div>
                          
                                      <div class="form-group">
                                          <div class="col-xs-6">
                                             <label for="mobile"><h4>Mobile</h4></label>
                                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="email"><h4>Email</h4></label>
                                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="email"><h4>Location</h4></label>
                                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                              <label for="password"><h4>Password</h4></label>
                                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          
                                          <div class="col-xs-6">
                                            <label for="password2"><h4>Verify</h4></label>
                                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                           <div class="col-xs-12 divs-center">
                                                <br>
                                                  <button class="btn btn-sm btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Change Details</button>
                                            </div>
                                      </div>
                                  </form>
                               
                             </div><!--/tab-pane-->
                       
                               
                              </div><!--/tab-pane-->
                          </div><!--/tab-content-->
                
                        </div><!--/col-9-->
                    </div> 
          

    </div>

   

  </section>
  {% endblock %}


  {% block scripts %}
  <script>
        $(document).ready(function() {
            
            $('ul.nav-tabs li a').click(function (e) {
                $('ul.nav-tabs li.active').removeClass('active')
                $(this).parent('li').addClass('active')
              })
        })
  </script>
  {% endblock %}